# Database
DATABASE_URL="database.sqlite"

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Auth
JWT_SECRET="super-secret-key-change-me"

# App
VITE_APP_NAME="Sistema de Ponto"
VITE_INSTITUTION_NAME="Instituição de Ensino"
