@import "tailwindcss";

@layer base {
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5);
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}
